<section class="about-me-section">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me-content">
      <p class="about-me-section-description">
        I work with people all over the world to create impressive and
        <span class="functional-word">functional</span>
        <span class="websites-word">websites</span> that reflect each client's
        unique personality.
      </p>
      <div class="about-me-photo">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/about-me/desk-aboutme.webp   1x,
              ../img/about-me/desk-aboutme2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/about-me/tab-aboutme.webp   1x,
              ../img/about-me/tab-aboutme2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/about-me/mob-aboutme.webp   1x,
              ../img/about-me/mob-aboutme2x.webp 2x
            "
          />
          <img
            src="../img/about-me/tab-aboutme.webp"
            alt="Photo of Lloyd Jefferson"
            width="704"
            height="700"
          />
        </picture>
      </div>
    </div>

    <div id="experience" class="experience">
      <ul class="accordion-container" id="accordion-container-ul">
        <li class="ac" id="ac-li1">
          <h3 class="ac-header" id="ac-header-title1">
            <button type="button" class="ac-trigger" id="ac-trigger-button1">
              About me

              <svg class="icon-arrow" id="icon-arrow1" width="36" height="36">
                <use href="../img/icons.svg#icon-down"></use>
              </svg>
            </button>
          </h3>

          <div class="ac-panel">
            <p class="ac-text" id="ac-text-about1">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="ac-text" id="ac-text-about2">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </li>

        <li class="ac" id="ac-li2">
          <h3 class="ac-header" id="ac-header-title2">
            <button type="button" class="ac-trigger" id="ac-trigger-button2">
              Role

              <svg class="icon-arrow" id="icon-arrow1" width="36" height="36">
                <use href="../img/icons.svg#icon-down"></use>
              </svg>
            </button>
          </h3>

          <div class="ac-panel">
            <p class="ac-text" id="ac-text-role1">Frontend development</p>
            <p class="ac-text" id="ac-text-role2">HeadlessCMS, WordPress</p>
            <p class="ac-text" id="ac-text-role3">Blender (enjoy)</p>
          </div>
        </li>

        <li class="ac" id="ac-li3">
          <h3 class="ac-header" id="ac-header-title3">
            <button type="button" class="ac-trigger" id="ac-trigger-button3">
              Education

              <svg class="icon-arrow" id="icon-arrow1" width="36" height="36">
                <use href="../img/icons.svg#icon-down"></use>
              </svg>
            </button>
          </h3>

          <div class="ac-panel">
            <p class="ac-text" id="ac-text-edu1">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
            <p class="ac-text" id="ac-text-edu2">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
            <p class="ac-text" id="ac-text-edu3">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="skills">
      <div class="skills-swiper swiper">
        <ul class="skills-list swiper-wrapper">
          <li class="skills-item swiper-slide">
            <p class="skills-text color-red-point">HTML/CSS</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">JavaScript</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">React</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">Node.js</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">React Native</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">Angular</p>
          </li>
          <li class="skills-item swiper-slide">
            <p class="skills-text">Soft Skills</p>
          </li>
        </ul>
      </div>
      <button class="skills-button" type="button">
        <svg class="skills-icon">
          <use href="../img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
