<section class="benefits" id="benefits">
  <div class="container container-bf">
    <h2 class="main-title">Benefits of working with me</h2>
    <ul class="benefits-list">
      <li class="benefit-item">
        <svg class="benefit-icon" aria-hidden="true">
          <use xlink:href="/img/benefits/icons.svg#expertise-icon"></use>
        </svg>
        <h3 class="benefit-title">Expertise</h3>
        <p class="benefit-text">
          As a highly experienced developer, I have deep knowledge of
          programming and website development.
        </p>
      </li>
      <li class="benefit-item">
        <svg class="benefit-icon" aria-hidden="true">
          <use xlink:href="/img/benefits/icons.svg#communication-icon"></use>
        </svg>
        <h3 class="benefit-title">Communication</h3>
        <p class="benefit-text">
          Understanding your needs and wants is my priority and I am always open
          to discussions and corrections.
        </p>
      </li>
      <li class="benefit-item">
        <svg class="benefit-icon" aria-hidden="true">
          <use xlink:href="/img/benefits/icons.svg#art-icon"></use>
        </svg>
        <h3 class="benefit-title">Art</h3>
        <p class="benefit-text">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefit-item">
        <svg class="benefit-icon" aria-hidden="true" height="48" width="48">
          <use xlink:href="/img/benefits/icons.svg#urgent-icon"></use>
        </svg>
        <h3 class="benefit-title">Urgent execution</h3>
        <p class="benefit-text">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
    <a href="#work-together" class="button">Order the project</a>
  </div>
</section>
