<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <!-- Covers -->
    <section class="container container-covers">
        <div class="content-covers">
            <h2 class="visually-hidden">Covers</h2>
            <div class="marquee">
                <ul class="marquee__inner">
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/first-screen1.jpg 1x, /img/covers/first-screen1@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/first-screen1.jpg 1x, /img/covers/first-screen1@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/first-screen1.jpg 1x, /img/covers/first-screen1@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/first-screen1.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle10.jpg 1x, /img/covers/Rectangle10@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle10.jpg 1x, /img/covers/Rectangle10@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle10.jpg 1x, /img/covers/Rectangle10@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle10.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle7.jpg 1x, /img/covers/Rectangle7@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle7.jpg 1x, /img/covers/Rectangle7@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle7.jpg 1x, /img/covers/Rectangle7@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle7.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle6.jpg 1x, /img/covers/Rectangle6@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle6.jpg 1x, /img/covers/Rectangle6@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle6.jpg 1x, /img/covers/Rectangle6@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle6.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source
                                srcset="/img/covers/Rectangle10.jpg 1x, /img/covers/Rectangle10@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source
                                srcset="/img/covers/Rectangle10.jpg 1x, /img/covers/Rectangle10@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source
                                srcset="/img/covers/Rectangle10.jpg 1x, /img/covers/Rectangle10@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle10.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle7.jpg 1x, /img/covers/Rectangle7@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle7.jpg 1x, /img/covers/Rectangle7@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle7.jpg 1x, /img/covers/Rectangle7@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle7.jpg" alt="">
                        </picture>
                    </li>
                </ul>
                <ul class="marquee__inner">
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle11.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle1.jpg 1x, /img/covers/Rectangle1@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle1.jpg 1x, /img/covers/Rectangle1@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle1.jpg 1x, /img/covers/Rectangle1@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle1.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle8.jpg 1x, /img/covers/Rectangle8@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle8.jpg 1x, /img/covers/Rectangle8@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle8.jpg 1x, /img/covers/Rectangle8@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle8.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle11.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle1.jpg 1x, /img/covers/Rectangle1@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle1.jpg 1x, /img/covers/Rectangle1@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle1.jpg 1x, /img/covers/Rectangle1@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle1.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle8.jpg 1x, /img/covers/Rectangle8@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle8.jpg 1x, /img/covers/Rectangle8@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle8.jpg 1x, /img/covers/Rectangle8@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle8.jpg" alt="">
                        </picture>
                    </li>
                </ul>
                <ul class="marquee__inner">
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle9.jpg 1x, /img/covers/Rectangle9@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle9.jpg 1x, /img/covers/Rectangle9@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle9.jpg 1x, /img/covers/Rectangle9@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle9.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle4.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle5.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle9.jpg 1x, /img/covers/Rectangle9@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle9.jpg 1x, /img/covers/Rectangle9@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle9.jpg 1x, /img/covers/Rectangle9@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle9.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle4.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle5.jpg" alt="">
                        </picture>
                    </li>
                </ul>
                <ul class="marquee__inner">
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/first-screen1.jpg 1x, /img/covers/first-screen1@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/first-screen1.jpg 1x, /img/covers/first-screen1@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/first-screen1.jpg 1x, /img/covers/first-screen1@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/first-screen1.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle12.jpg 1x, /img/covers/Rectangle12@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle12.jpg 1x, /img/covers/Rectangle12@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle12.jpg 1x, /img/covers/Rectangle12@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle12.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle6.jpg 1x, /img/covers/Rectangle6@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle6.jpg 1x, /img/covers/Rectangle6@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle6.jpg 1x, /img/covers/Rectangle6@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle6.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/first-screen1.jpg 1x, /img/covers/first-screen1@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/first-screen1.jpg 1x, /img/covers/first-screen1@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/first-screen1.jpg 1x, /img/covers/first-screen1@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/first-screen1.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle12.jpg 1x, /img/covers/Rectangle12@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle12.jpg 1x, /img/covers/Rectangle12@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle12.jpg 1x, /img/covers/Rectangle12@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle12.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle6.jpg 1x, /img/covers/Rectangle6@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle6.jpg 1x, /img/covers/Rectangle6@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle6.jpg 1x, /img/covers/Rectangle6@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle6.jpg" alt="">
                        </picture>
                    </li>
                </ul>
                <ul class="marquee__inner">
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle4.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle5.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle11.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle4.jpg 1x, /img/covers/Rectangle4@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle4.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle5.jpg 1x, /img/covers/Rectangle5@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle5.jpg" alt="">
                        </picture>
                    </li>
                    <li class="list-item marquee__line">
                        <picture>
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source srcset="/img/covers/Rectangle11.jpg 1x, /img/covers/Rectangle11@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img class="marquee_img" src="/img/covers/Rectangle11.jpg" alt="">
                        </picture>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>