<section class="accordion" id="faq">
    <div class="container">
      <h2 class="accordion__title">FAQ</h2>
      <ul class="accordion__list">
        <li class="accordion__item left-column">
          <div class="accordion__content">
            <div class="accordion__text">
              <h2 class="accordion__left">What programming languages ​​are most often used in your project?</h2>
              <svg class="accordion__icon" width="34" height="34">
                <use href="../img/faq/faq.svg#icon-down"></use>
              </svg>
            </div>
            <div class="accordion__panel">
              <p class="accordion__answer">
                In the field of web development, there are various technologies
                and programming languages. Typically, this includes a combination
                of frontend (client side) and backend (server side) languages.
              </p>
            </div>
          </div>
        </li>
        <li class="accordion__item left-column">
          <div class="accordion__content">
            <div class="accordion__text">
              <h2 class="accordion__left">What are the deadlines for the project?</h2>
              <svg class="accordion__icon" width="34" height="34">
                <use href="../img/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div class="accordion__panel">
              <p class="accordion__answer">
                The terms of project implementation depend to a large extent on a
                number of factors, such as the scope of the project, its
                complexity, and the availability of resources. Determining exact
                deadlines is a difficult task, and it usually occurs during the
                planning phase of the project.
              </p>
            </div>
          </div>
        </li>
        <li class="accordion__item left-column">
          <div class="accordion__content">
            <div class="accordion__text">
              <h2 class="accordion__left">What payment methods do you accept?</h2>
              <svg class="accordion__icon" width="34" height="34">
                <use href="../img/faq/faq.svg#icon-down"></use>
              </svg>
            </div>
            <div class="accordion__panel">
              <p class="accordion__answer">
                Payment through credit and debit cards such as Visa, MasterCard,
                specialized electronic payment systems such as PayPal, as well as
                payments in cryptocurrencies such as Bitcoin, Ethereum and others.
              </p>
            </div>
          </div>
        </li>
        <li class="accordion__item right-column">
          <div class="accordion__content">
            <div class="accordion__text">
              <h2 class="accordion__right">How can I contact you?</h2>
              <svg class="accordion__icon" width="34" height="34">
                <use href="../img/faq/faq.svg#icon-down"></use>
              </svg>
            </div>
            <div class="accordion__panel">
              <p class="accordion__answer">
                In the field of web development, there are various technologies
                and programming languages. Typically, this includes a combination
                of frontend (client side) and backend (server side) languages.
              </p>
            </div>
          </div>
        </li>
        <li class="accordion__item right-column">
          <div class="accordion__content">
            <div class="accordion__text">
              <h2 class="accordion__right">Do you provide advice or support?</h2>
              <svg class="accordion__icon" width="34" height="34">
                <use href="../img/faq/faq.svg#icon-down"></use>
              </svg>
            </div>
            <div class="accordion__panel">
              <p class="accordion__answer">
                The terms of project implementation depend to a large extent on a
                number of factors, such as the scope of the project, its
                complexity, and the availability of resources. Determining exact
                deadlines is a difficult task, and it usually occurs during the
                planning phase of the project.
              </p>
            </div>
          </div>
        </li>
        <li class="accordion__item right-column">
          <div class="accordion__content">
            <div class="accordion__text">
              <h2 class="accordion__right">What does the process of developing a software product look like from idea to implementation?</h2>
              <svg class="accordion__icon" width="34" height="34">
                <use href="../img/faq/faq.svg#icon-down"></use>
              </svg>
            </div>
            <div class="accordion__panel">
              <p class="accordion__answer">
                Payment through credit and debit cards such as Visa, MasterCard,
                specialized electronic payment systems such as PayPal, as well as
                payments in cryptocurrencies such as Bitcoin, Ethereum and others.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  