<header class="header">
  <div class="container header-wrap">
    <a href="index.html" class="header-logo">
      <img
        class="header-logo-img"
        src="/img/header/header.jpg"
        alt="main-logo"
      />
      <span class="header-logo-text">jefferson*</span>
    </a>
    <nav class="header-nav">
      <button class="header-btn header-btn-js" type="button">Menu</button>
      <ul class="header-nav-list menu-list-js">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about-me">About me</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#projects">Projects</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <a class="header-link" href="#work-together">Order the project</a>
    <button type="button" class="menu-open-btn" data-menu-open>
      <svg class="menu-open-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-mob-menu"></use>
      </svg>
    </button>
  </div>
</header>
<div class="mob-menu mob-menu-js" data-menu>
  <button type="button" class="menu-close-btn" data-menu-close>
    <svg class="menu-close-icon" width="34" height="34">
      <use href="/img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mob-menu-nav-list">
    <li class="mob-menu-nav-item">
      <a class="mob-menu-nav-link" href="#about-me">About me</a>
    </li>
    <li class="mob-menu-nav-item">
      <a class="mob-menu-nav-link" href="#benefits">Benefits</a>
    </li>
    <li class="mob-menu-nav-item">
      <a class="mob-menu-nav-link" href="#projects">Projects</a>
    </li>
    <li class="mob-menu-nav-item">
      <a class="mob-menu-nav-link" href="#faq">FAQ</a>
    </li>
  </ul>
  <a class="mob-menu-link" href="#work-together">Order the project</a>
</div>
