<section class="hero" id="hero">
  <div class="container">
    <div class="content">
      <h1 class="hero-title">
        HELLO. <br />I’M FULLSTACK DEVELOPER<br />LLOYD JEFFERSON.
      </h1>
      <div class="footer">
        <ul class="socials">
          <li>
            <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
          </li>
          <li>
            <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
          </li>
          <li>
            <a
              href="https://github.com/savchenko-maksym/project-06"
              target="_blank"
              >GH</a
            >
          </li>
        </ul>
        <a href="mailto:lloydjefferson@mail.com" class="email"
          >lloydjefferson@mail.com</a
        >
      </div>
    </div>
  </div>
</section>
