<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="reviews-title">REVIEWS</h2>
        <div class="swiper">
            <div class="swiper-wrapper" id="reviews-list"></div>
            <div class="swiper-pagination visually-hidden"></div>
            <div class="container-button">
                <button id="prev-button" class="custom-button">
                    <svg class="arrows" aria-label="Previous slide">
                        <use href="/img/reviews/icons.svg#icon-arrow-narrow-left"></use>
                    </svg>
                </button>
                <button id="next-button" class="custom-button">
                    <svg class="arrows" aria-label="Next slide">
                        <use href="/img/reviews/icons.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script type="module" src="/js/reviews.js"></script>