<section class="Section SectionReviews">
  <div class="Container">
    <h3 class="TitleText">REVIEWS</h3>

    <!-- Swiper -->
    <div class="reviews-swiper">
      <div id="reviewsList">
        <!-- тут додані відгуки -->
      </div>
      <div class="arrows">
        <div class="ButtonPrev">
          <svg class="SocialIconBack" width="32" height="32">
            <use href="/img/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>

        <div class="ButtonNext">
          <svg class="SocialIconNext" width="32" height="32">
            <use href="/img/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
