<section class="reviews" id="reviews">
  <div class="container-rw container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper swiper-reviews">
      <ul class="swiper-wrapper swiper-reviews-wrapper" id="reviews-list"></ul>
      <div class="container-button"> 
        <button id="prev-button" class="custom-button" aria-label="Previous slide"> 
          <svg
            class="arrows-rw">
            <use href="/img/reviews/icons.svg#icon-arrow-narrow-left"></use>
          </svg> 
        </button> 
          <button id="next-button" class="custom-button" aria-label="Next slide"> <svg
            class="arrows-rw">
            <use href="/img/reviews/icons.svg#icon-arrow-narrow-right"></use>
          </svg> 
        </button> 
      </div>
    </div>
  </div>
</section>