/* Основні стилі */
.benefits {
  background: #1c1d20;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-bf {
  text-align: center;
}

.main-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
  text-align: left;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: left;
  list-style: none;
}

.benefit-item {
  background: #242527;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  flex: 1 1 calc(25% - 20px);
  max-width: 344px;
  max-height: 270px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.benefit-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.benefit-icon {
  width: 48px;
  height: 48px;
  fill: var(--color1, #ed3b44);
  transition: fill 0.3s ease;
  margin-bottom: 64px;
}

.benefit-item:hover .benefit-icon {
  fill: var(--hover-color, #c32a30);
}

.benefit-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.benefit-title:hover {
  color: var(--hover-color, #c32a30);
  transition: color 0.3s ease;
}

.benefit-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.button {
  margin-top: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 2px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 187px;
  height: 55px;
  box-sizing: border-box;
}

.button:hover {
  background-color: #c32a30;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5), 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #d03b3b;
  transform: scale(1.02);
}

/* svg {
    width: 48px;
    height: 48px;
} */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* svg {
        image-rendering: -webkit-optimize-contrast;
    } */
}

/* Мобільні пристрої */
@media (max-width: 767px) {
  .benefits {
      padding-top: 96px;
  }
  .benefit-item {
    flex: 1 1 100%;
  }
}

/* Планшети */
@media (min-width: 768px) {
  .benefit-item {
    flex: 1 1 calc(50% - 20px);
  }

  .button {
    margin-top: 64px;
  }
}

/* Десктопи (від 1440px) */
@media (min-width: 1440px) {
  .container-bf {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 412px;
      max-width: 1440px;
      margin: 0 auto;
    }
  
    .main-title {
      text-align: left;
    }

    .benefit-icon {
      flex-shrink: 0;
    }
  
    .benefits-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;
    }
  
    .benefit-item {
      text-align: left;
    }
  
    .button {
      grid-column: 2;
      align-self: flex-start;
      margin-top: 64px;
    }
    
}