*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

/* -------------------styles-mob------------------------ */

.header {
  position: absolute;
  top: 32px;
  left: 50%;
  width: calc(100% - 32px);
  transform: translateX(-50%);
  z-index: 9;
}

.header-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header-logo {
  display: flex; /* Вирівнюємо елементи в один рядок */
  /* align-items: center; */
  gap: 8px; /* Відступ між картинкою та текстом */
  text-decoration: none; /* Прибираємо підкреслення у посилання */
}

.header-logo-img {
  border-radius: 18px;
  width: 80px;
  height: 80px;
}

.header-logo-text {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: color 0.2s ease;
}

.header-logo:hover span {
  color: #ed3b44;
}

.header-nav {
  display: none;
}
.header-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
  background: none;
  border: none;
  padding: 10px;
  transition: color 0.2s ease;
}

.header-btn:hover {
  color: #ed3b44;
}

.header-nav-list {
}
.header-nav-item {
}
.header-link {
  display: none;
}
.menu-open-btn {
  display: block;
}

.menu-open-icon {
  stroke: #fafafa;
  transition: stroke 0.2s ease;
}

.menu-open-btn:hover .menu-open-icon {
  stroke: #ed3b44;
}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 64px);
  }

  .menu-open-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }

  .header-nav-list {
    display: none;
  }

  .header-link {
    display: block;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background-color: #ed3b44;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }

  .header-link:hover {
    background-color: #e0373f;
  }

  .header-nav-list.active {
    display: block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    transition: color 0.2s ease;
  }

  /* .header-nav-list: hover a {
    color: #ed3b44;
    text-decoration-color:#ed3b44;
  } */
}

@media screen and (min-width: 1440px) {
}

/* -----------------------mob-menu------------------------- */

.mob-menu {
  /* background-image: url(/img/header/bacground-img-mob-menu.jpg); */
  background-image: url(/img/header/bg.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%; /* Размещаем центр меню по центру экрана */
  transform: translateX(-50%) translateY(-100%); /* Смещаем вверх (скрываем) */
  padding-top: 32px;
  padding-right: 18px;
  padding-bottom: 64px;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; /* Плавная анимация */
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0); /* Показываем, смещая вниз */
}

.menu-close-btn {
  margin-left: auto;
  display: block;
}

.menu-close-btn:hover svg {
  stroke: #ed3b44;
}

.menu-close-icon {
  stroke: #fafafa;
  transition: stroke 0.2s ease;
}

.mob-menu-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.mob-menu-nav-item {
}
.mob-menu-nav-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
}
.mob-menu-link {
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background-color: #ed3b44;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
