a {
  display: block;
}

.projects {
  padding-top: 64px;
}

.projects picture {
  flex-shrink: 0;
  max-width: 100%;
}

.projects-title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.projects-swiper {
  display: flex;
  flex-wrap: wrap;
  border-radius: 24px;
  width: 100%;
  align-items: center;
  margin-bottom: 32px;
}

.projects-content {
  border-radius: 24px 24px 0 0;
  background-color: #fafafa;
  padding: 32px;
  width: 100%;
}

.projects-picture {
  padding: 100px 16px;
  border-radius: 0 0 24px 24px;
  background-color: #242527;
  width: 100%;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}

.content-text {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
}
.projects-subtitle {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #1c1d20;
}
.content-button {
  border: none;
  border-radius: 60px;
  padding: 13px 32px;
  width: 141px;
  height: 45px;
  background-color: #ed3b44;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: all 0.3s ease;
}

.content-button:hover {
  background-color: #e0373f;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.projects-button {
  background-color: inherit;
  border: none;
}

.projects-button:disabled {
  cursor: not-allowed;
}

.projects-icon {
  fill: transparent;
  stroke: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
}

.projects-button:disabled .projects-icon {
  stroke: #3b3b3b;
  border-color: #3b3b3b;
}

.arrows {
  display: flex;
  justify-content: center;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .projects {
    padding-top: 96px;
  }
  .projects-swiper {
    margin-bottom: 64px;
  }
  .projects-content {
    padding: 64px;
  }
  .projects-subtitle {
    font-size: 44px;
    line-height: 100%;
    max-width: 494px;
  }
  .content-list {
    margin-bottom: 164px;
  }
  .projects-picture {
    padding: 120px 45px;
  }
}

@media screen and (min-width: 1440px) {
  .projects {
    padding-top: 164px;
  }
  .projects-swiper {
    flex-wrap: nowrap;
    background-repeat: 24px;
  }
  .projects-content {
    border-radius: 24px 0 0 24px;
  }
  .projects-picture {
    border-radius: 0 24px 24px 0;
  }
  .content-list {
    margin-bottom: 223px;
  }
  .projects-picture {
    padding: 120px 37px;
  }
}
