/* Загальний стиль */
.reviews {
  padding: 64px 16px;
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: left;
  
}

.reviews-title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

/* Стилі контейнера Swiper */
.swiper-reviews {
  
}

.swiper-reviews-wrapper {
  display: flex;
  align-items: stretch;
  gap: 16px;
}

.swiper-slide-reviews {
  
}

.container-review {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 343px;
  height: 302px;
  
  display: flex;
  flex-direction: column;
  text-align: left;
}

.swiper-reviews-slide {
  
}

.review-avatar {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  object-fit: cover;
  margin-bottom: 32px;
}

.review-author {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.review-text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);


  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

/* Стрілки */
.container-button {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 32px;
}

.custom-button {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px;
  width: 68px;
  height: 68px;
  height: 68px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-button:hover .arrows-rw {
  stroke: var(--hover-color, #c32a30);
  transform: rotate(15deg);
}

.arrows-rw {
width: 32px;
  height: 32px;
  stroke: rgba(255, 255, 255, 0.6);
  transition: stroke 0.3s ease, transform 0.3s ease;
  stroke: white;
}

/* Стиль для неактивної кнопки */
.custom-button.disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* Адаптація для мобільних */
@media (max-width: 768px) {
  .reviews {
    padding: 96px 32px;
  }

}

/* Адаптація для десктопу */
@media (min-width: 1440px) {
  .reviews {
    padding: 164px 32px;
  }
}